<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @shirt.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @shirt.url %>
</p>

<%= link_to 'Edit', edit_shirt_path(@shirt) %> |
<%= link_to 'Back', shirts_path %>
